body {
    font-family: 'Montserrat', sans-serif;
margin: 0;
}






#heading {
    color: red;
    background: yellowgreen;
   /*font-size: 50px;*/
    

}
.header{
    /*text-align: center;*/
  background: orangered;
  
  /*margin-left: 200px;
  margin-right: 150px;
  margin-bottom: 50px;
  margin-top: 50px;
  border: 5px solid green;
  border-radius: 38px;*/
  padding: 30px;
  margin: 30px;
  width: 550px;
  height: 200;
  /*background-image: url(./web.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;*/
  box-shadow:0px 5px 9px grey ;
cursor: pointer;
overflow: hidden;
opacity: 0.2;


}
p {
    line-height: 1.5;
    color: wheat;

}
ul{

    list-style-type:circle;
}
